div {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  display: inline-block;
}
/* body {
  background-image: url("deer_photo.jpg");
  background-size: cover;
} */

#box1 {
  background-color: red;
  position: static;
}

#box2 {
  background-color: magenta;
  position: relative;
  top: 50px;
  left: 80px;
  z-index: 1;
  background-image: url("deer_photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#box3 {
  background-color: limegreen;
  position: sticky;
  top: 50px;
}

#box4 {
  background-color: mediumblue;
  position: fixed;
}
